<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DbYazOkuluConnectionString"
            connectionString="Data Source=DESKTOP-NQUMRBO;Initial Catalog=DbYazOkulu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>